/* rye-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rye';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rye-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('img/backdrop/desert.svg');
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center;
}

h1 {
    font-family: 'Rye', cursive;
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

canvas {
    background-color: black;
    display: block;
}

/* Smartphones Responsive */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}
/* Smartphones END */